<h1><%= t('welcome_message') %></h1>
<p><%= link_to t('sign_in'), new_user_session_path %></p>
<p><%= link_to t('sign_up'), new_user_registration_path %></p>
<%= button_to t('signed_out'), destroy_user_session_path, method: :delete %>