<h1><%= t('welcome_message') %></h1>
<%= link_to t('sign_in'), new_user_session_path %>
<%= link_to t('sign_up'), new_user_registration_path %>
<%= button_to t('sign_out'), destroy_user_session_path, method: :delete %>