<nav class="mb-4 h-20 border-b flex justify-between items-center shadow-xl">
  <div>
    <%= render Atoms::LogoComponent.new %>
  </div>
  <div class = "flex h-20">
    <%= render Molecules::UserNavbarComponent.new%>
  </div>
</nav>