<nav class="mb-4 border-b flex justify-between items-center shadow-xl">
    <%= render Atoms::LogoComponent.new %>
  <div>
    <%= render Atoms::LinkNavComponent.new(text: "Home", href: root_path) %>
  </div>
</nav>